@page
@model RoboStockChat.Pages.ChatroomModel
@{
    ViewData["Title"] = Model.Chatroom.Name;
}

<head>
    <style type="text/css">
        #chat2 .form-control {
            border-color: transparent;
        }

            #chat2 .form-control:focus {
                border-color: transparent;
                box-shadow: inset 0px 0px 0px 1px transparent;
            }

        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js" integrity="sha512-Y5n0fbohPllOQ21fTwM/h9sQQ/1a1h5KhweGhu2zwD8lAoJnTgVa7NIrFa1bRDIMQHixtyuRV2ubIx+qWbGdDA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
                window.onload = (event) => {
                    //Connect to the MQTT chat channel
                    // Create a client instance
                    client = new Paho.Client("broker.emqx.io", 8884, "clientId-jasduashdashdusauh");

                    // set callback handlers
                    client.onConnectionLost = onConnectionLost;
                    client.onMessageArrived = onMessageArrived;

                    // connect the client
                    client.connect({onSuccess:onConnect});


                    // called when the client connects
                    function onConnect() {
                        // Once a connection has been made, make a subscription and send a message.
                        console.log("onConnect");
                        var chatTopic = "@(Model.ApplicationId)/@(Model.Chatroom.Id)";
                        client.subscribe(chatTopic);
                        var message = new Paho.Message("Hello");
                        message.destination = chatTopic;
                        client.send(message);
                    }

                    // called when the client loses its connection
                    function onConnectionLost(responseObject) {
                        if (responseObject.errorCode !== 0) {
                            console.log("onConnectionLost:"+responseObject.errorMessage);
                        }
                    }

                    // called when a message arrives
                    function onMessageArrived(message) {
                        console.log("onMessageArrived:"+message.payloadString);
                    }
                };
    </script>

</head>

<section style="">
    <div class="container">

        <div class="row d-flex justify-content-center">
            <div class="col-md-12">

                <div class="card" id="chat2">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h5 class="mb-0">Chat</h5>
                    </div>
                    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px; overflow: auto">

                        <div class="d-flex flex-row justify-content-start">
                            @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">*@
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Hi - @(Model.ApplicationId)</p>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                    How are you ...???
                                </p>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                    What are you doing
                                    tomorrow? Can we come up a bar?
                                </p>
                                @*<p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>*@
                            </div>
                        </div>

                        @*<div class="divider d-flex align-items-center mb-4">
                            <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
                            </div>*@

                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Hiii, I'm good.</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">How are you doing?</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                    Long time no see! Tomorrow
                                    office. will
                                    be free on sunday.
                                </p>
                                @*<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>*@
                            </div>
                            @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">*@
                        </div>

                        <div class="d-flex flex-row justify-content-start mb-4">
                            @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">*@
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay</p>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                    We will go on
                                    Sunday?
                                </p>
                                @*<p class="small ms-3 mb-3 rounded-3 text-muted">00:07</p>*@
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-end mb-4">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">That's awesome!</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                    I will meet you Sandon Square
                                    sharp at
                                    10 AM
                                </p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Is that okay?</p>
                                @*<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:09</p>*@
                            </div>
                            @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">*@
                        </div>

                        <div class="d-flex flex-row justify-content-start mb-4">
                            @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">*@
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                    Okay i will meet
                                    you on
                                    Sandon Square
                                </p>
                                @*<p class="small ms-3 mb-3 rounded-3 text-muted">00:11</p>*@
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-end mb-4">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                    Do you have pictures of Matley
                                    Marriage?
                                </p>
                                @*<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:11</p>*@
                            </div>
                            @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">*@
                        </div>

                        <div class="d-flex flex-row justify-content-start mb-4">
                            @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">*@
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                    Sorry I don't
                                    have. i
                                    changed my phone.
                                </p>
                                @*<p class="small ms-3 mb-3 rounded-3 text-muted">00:13</p>*@
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                    Okay then see you on sunday!!
                                </p>
                                @*<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:15</p>*@
                            </div>
                            @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">*@
                        </div>

                    </div>
                    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                        @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                            alt="avatar 3" style="width: 40px; height: 100%;">*@
                        <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                               placeholder="Type message">
                        <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>