@page
@using RoboStockChat.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Create a new Chat Room</h4>
        </div>
    </div>
    <form asp-page="/Index" asp-page-handler="add" method="post">
        <div class="row justify-content-md-center">
            <div class="col-md-5 offset-md-2">
                <input type="text" class="form-control form-control-lg" id="Name" name="Name"
                       placeholder="Chatroom name">
            </div>
            <div class="col-md-5 align-self-md-center">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <h4>Chatrooms</h4>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (Chatroom cr in (ViewData["Chatrooms"] as IEnumerable<Chatroom>) ?? new Chatroom[] {})
                {
                    <tr class="align-baseline">
                        <td>@cr.Id</td>
                        <td>@cr.Name</td>
                        <td><a class="btn btn-primary" asp-page="/Chatroom" asp-route-id="@cr.Id">Join</a></td>
                        <td>
                            @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == cr.CreatedBy)
                            {
                                <form asp-page-handler="delete" asp-page="/Index" method="post">
                                    <input type="hidden" name="Id" id="Id" value="@cr.Id" />
                                    <button class="btn btn-danger" type="submit">Delete channel</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
